<div class="container">
	<h2><%= @deck.name %></h2>
	<% @deck.cards.each do |card| %>
		<a href="/c/<%= card.id %>"><%= card.id %></a>
	<% end %>
	<form action='/r/new' method='POST'>
		<input type="hidden" name="deck_id" value="<%= @deck.id %>">
		<input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input class="submit" type="submit" value="New Round">
  </form>
</div>