<div class="container">
	<h2><%= @user.username %></h2>
	<ul>
		<% @user.rounds.each do |round| %>
		<li><%= round.deck.name %> reviewed on <%= round.created_at %> and scored <%= round.guesses.where(:correct => "true").count %>/<%= round.guesses.count %></li>
		<% end %>
	</ul>
</div>